//fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// General Colors
$white: #FFF;
$black: #000;
$primary: #006480;
$secondary: #111;

//Nav Bar Colors 
$nav-text-light: rgba(255, 255, 255, 0.87);
$nav-text-light-active: #FFF;
$nav-text-dark: #FFF;
$nav-text-dark-active: #49AAD4;

//General Styles
body {color: $primary;margin: 0;font-family: 'Lato';}

//Nav Styles
.nav {display: flex;justify-content: space-between;position: sticky;top: 0;z-index: 999;padding-right: 25px;}
  .nav ul {list-style-type: none;margin: 0;padding: 0;}
  .nav ul li {display: inline-block;padding-top: 16px;}
  .nav a {color: $white;font-size: 19px;}
  .nav ul li a {font-size: 17px;font-weight: 300;}
  .nav a, .nav ul li a {text-decoration: none;padding: 16px 12px;}
  .mobile-menu-open {position: absolute;right: 15px;color: #fff;display: none;}

.nav-light {transition: 0.5s;}
.nav-light ul li a {color: $nav-text-light;}
  .nav-light ul li a:hover {color: $white;font-weight: 400;}
  .nav-light ul li a.active {color: $nav-text-light-active;font-weight: 700;}
  
.nav-dark {transition: 0.5s;background-color: $secondary;}
.nav-dark ul li a {color: $nav-text-dark;}
  .nav-dark ul li a:hover {color: $nav-text-dark-active;font-weight: 400;}
  .nav-dark ul li a.active {color: $nav-text-dark-active;font-weight: 700;}

.nav-background {height: 100%;width: 100%;position: fixed;transition: 0.5s;background-color: rgba(0, 0, 0, 0.5);display: none;}
.nav-background-fade-in {visibility: visible;opacity: 1;transition: visibility 0s linear 0ms, opacity 300ms;}
.nav-background-fade-out {visibility: hidden;opacity: 0;transition: visibility 0s linear 300ms, opacity 300ms;}

@media screen and (max-width: 600px) {
  .nav {display: block;background-color: $secondary;padding: 15px 0;}
  .nav ul {transition: 0.5s;overflow: hidden;height: 0px;}
    .nav ul li {display: block;}
    .nav ul li a {color: $nav-text-dark;}
    .nav ul li a:hover {color: $nav-text-dark-active;font-weight: 400;}
    .nav ul li a.active {color: $nav-text-dark-active;font-weight: 700;}
  .mobile-menu-open {display: inline-block;}
  .nav-background {display: block;}
}

//Header Styles
.header-container {height: 300px;margin-top: -55px;display: flex;justify-content: center;align-items: center;background-color: $primary;color: $white;}
