//fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// General Colors
$white: #FFF;
$black: #000;
$primary: #006480;
$secondary: #333;

//Nav Bar Colors 
$nav-text-light: rgba(255, 255, 255, 0.87);
$nav-text-light-active: #FFF;
$nav-text-dark: #FFF;
$nav-text-dark-active: #49AAD4;

//General Styles
body {color: $primary;margin: 0;font-family: 'Lato';background-color:black;}

//Nav Styles
.nav {display: flex;justify-content: space-between;position: sticky;top: 0;}
  .nav ul {list-style-type: none;margin: 0;padding: 0;}
  .nav ul li {display: inline-block;padding-top: 16px;}
  .nav a {color: $white;}
  .nav a, .nav ul li a {text-decoration: none;padding: 16px 12px;}

.nav-light ul li a {color: $nav-text-light;}
  .nav-light ul li a:hover {color: $white;}
  .nav-light ul li a.active {color: $nav-text-light-active;font-weight: 700;}
    
.nav-dark ul li a {color: $nav-text-dark;}
  .nav-dark ul li a:hover {color: $nav-text-dark-active;}
  .nav-dark ul li a.active {color: $nav-text-dark-active;font-weight: 700;}

@media screen and (max-width: 600px) {
  .nav {display: block;}
  .nav ul li {display: block;}
}
