//fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// General Colors
$white: #FFF;
$black: #000;
$primary: #006480;
$secondary: #111;
$fine-print: #BBB;
$post-divider: #DDD;

//Nav Bar Colors 
$nav-text-light: rgba(255, 255, 255, 0.87);
$nav-text-light-active: #FFF;
$nav-text-dark: #FFF;
$nav-text-dark-active: #49AAD4;

//  _______  _______                      ______   ______    ___    _______          
// (  __   )(  ____ )|\     /|           / ___  \ / ___  \  /   )  (  ____ )|\     /|
// | (  )  || (    )|( \   / )           \/   \  \\/   )  )/ /) |  | (    )|( \   / )
// | | /   || (____)| \ (_) /    _____      ___) /    /  // (_) (_ | (____)| \ (_) / 
// | (/ /) ||  _____)  ) _ (    (_____)    (___ (    /  /(____   _)|  _____)  ) _ (  
// |   / | || (       / ( ) \                  ) \  /  /      ) (  | (       / ( ) \ 
// |  (__) || )      ( /   \ )           /\___/  / /  /       | |  | )      ( /   \ )
// (_______)|/       |/     \|           \______/  \_/        (_)  |/       |/     \|
                                                                                  
//General Styles
body {color: $primary;margin: 0;font-family: 'Lato';min-height: 100vh;display: flex;flex-direction: column;}
footer {height: 100px;display: flex;flex-direction: column-reverse;padding: 25px;text-align: right;color: $fine-print;margin-top:auto;}
.button {padding: 12px 20px;background-color: $primary;color: $white;text-decoration: none;border-radius: 5px;}
.button:hover{background-color: darken($primary, 3%);}

//Nav Styles
.nav {display: flex;justify-content: space-between;position: sticky;top: 0;z-index: 999;padding-right: 25px;}
  .nav ul {list-style-type: none;margin: 0;padding: 0;}
  .nav ul li {display: inline-block;padding-top: 16px;}
  .nav a {color: $white;font-size: 19px;}
  .nav ul li a {font-size: 17px;font-weight: 300;}
  .nav a, .nav ul li a {text-decoration: none;padding: 16px 12px;}
  .mobile-menu-open {position: absolute;right: 15px;color: #fff;display: none;}

.nav-light {transition: 0.5s;}
.nav-light ul li a {color: $nav-text-light;}
  .nav-light ul li a:hover {color: $white;font-weight: 400;}
  .nav-light ul li a.active {color: $nav-text-light-active;font-weight: 700;}
  
.nav-dark {transition: 0.5s;background-color: $secondary;}
.nav-dark ul li a {color: $nav-text-dark;}
  .nav-dark ul li a:hover {color: $nav-text-dark-active;font-weight: 400;}
  .nav-dark ul li a.active {color: $nav-text-dark-active;font-weight: 700;}

.nav-background {height: 100%;width: 100%;position: fixed;transition: 0.5s;background-color: rgba(0, 0, 0, 0.5);display: none;}
.nav-background-fade-in {visibility: visible;opacity: 1;transition: visibility 0s linear 0ms, opacity 300ms;}
.nav-background-fade-out {visibility: hidden;opacity: 0;transition: visibility 0s linear 300ms, opacity 300ms;}

//Header Styles
.header-container {height: 300px;margin-top: -55px;display: flex;justify-content: center;align-items: center;background-color: $primary;color: $white;}

//Announcements pages
.announcements-container {padding: 25px 15%;}
.announcement-title {margin: 0;}
.announcement-date {margin: 3px 0;font-size: 14px;color: $fine-print;}
.view-older {display: block;width: 210px;margin: auto;}
.post-divider {border-bottom: solid 1px $post-divider;margin: 25px 0;}
// END 0px - 374px

//  ______   ______   _______  _______                         ___    _____    _____   _______          
// / ___  \ / ___  \ (  ____ \(  ____ )|\     /|              /   )  / ___ \  / ___ \ (  ____ )|\     /|
// \/   \  \\/   )  )| (    \/| (    )|( \   / )             / /) | ( (   ) )( (   ) )| (    )|( \   / )
//    ___) /    /  / | (____  | (____)| \ (_) /    _____    / (_) (_( (___) |( (___) || (____)| \ (_) / 
//   (___ (    /  /  (_____ \ |  _____)  ) _ (    (_____)  (____   _)\____  | \____  ||  _____)  ) _ (  
//       ) \  /  /         ) )| (       / ( ) \                 ) (       ) |      ) || (       / ( ) \ 
// /\___/  / /  /    /\____) )| )      ( /   \ )                | | /\____) )/\____) )| )      ( /   \ )
// \______/  \_/     \______/ |/       |/     \|                (_) \______/ \______/ |/       |/     \|
                                                                                                     
                                                                                                     
@media screen and (min-width: 375px) {

} // END 375px - 499px

//  _______  _______  _______  _______                      ______    ______  ______   _______          
// (  ____ \(  __   )(  __   )(  ____ )|\     /|           / ___  \  / ____ \/ ___  \ (  ____ )|\     /|
// | (    \/| (  )  || (  )  || (    )|( \   / )           \/   )  )( (    \/\/   )  )| (    )|( \   / )
// | (____  | | /   || | /   || (____)| \ (_) /    _____       /  / | (____      /  / | (____)| \ (_) / 
// (_____ \ | (/ /) || (/ /) ||  _____)  ) _ (    (_____)     /  /  |  ___ \    /  /  |  _____)  ) _ (  
//       ) )|   / | ||   / | || (       / ( ) \              /  /   | (   ) )  /  /   | (       / ( ) \ 
// /\____) )|  (__) ||  (__) || )      ( /   \ )            /  /    ( (___) ) /  /    | )      ( /   \ )
// \______/ (_______)(_______)|/       |/     \|            \_/      \_____/  \_/     |/       |/     \|
                                                                                                     
@media screen and (min-width: 500px) {
  
} // END 500px - 767px

//  ______    ______   _____   _______                       _____   _______   _____   _______          
// / ___  \  / ____ \ / ___ \ (  ____ )|\     /|            / ___ \ (  ____ \ / ___ \ (  ____ )|\     /|
// \/   )  )( (    \/( (___) )| (    )|( \   / )           ( (   ) )| (    \/( (   ) )| (    )|( \   / )
//     /  / | (____   \     / | (____)| \ (_) /    _____   ( (___) || (____  ( (___) || (____)| \ (_) / 
//    /  /  |  ___ \  / ___ \ |  _____)  ) _ (    (_____)   \____  |(_____ \  \____  ||  _____)  ) _ (  
//   /  /   | (   ) )( (   ) )| (       / ( ) \                  ) |      ) )      ) || (       / ( ) \ 
//  /  /    ( (___) )( (___) )| )      ( /   \ )           /\____) )/\____) )/\____) )| )      ( /   \ )
//  \_/      \_____/  \_____/ |/       |/     \|           \______/ \______/ \______/ |/       |/     \|
                                                                                                     
@media screen and (min-width: 768px) {
  .view-older {margin: 10px 0 0 15px;}
} // END 768px - 959px

//   _____    ______  _______  _______                      __      ___  ______    _____   _______          
//  / ___ \  / ____ \(  __   )(  ____ )|\     /|           /  \    /   )/ ___  \  / ___ \ (  ____ )|\     /|
// ( (   ) )( (    \/| (  )  || (    )|( \   / )           \/) )  / /) |\/   \  \( (   ) )| (    )|( \   / )
// ( (___) || (____  | | /   || (____)| \ (_) /    _____     | | / (_) (_  ___) /( (___) || (____)| \ (_) / 
//  \____  ||  ___ \ | (/ /) ||  _____)  ) _ (    (_____)    | |(____   _)(___ (  \____  ||  _____)  ) _ (  
//       ) || (   ) )|   / | || (       / ( ) \              | |     ) (      ) \      ) || (       / ( ) \ 
// /\____) )( (___) )|  (__) || )      ( /   \ )           __) (_    | |/\___/  //\____) )| )      ( /   \ )
// \______/  \_____/ (_______)|/       |/     \|           \____/    (_)\______/ \______/ |/       |/     \|

@media screen and (min-width: 960px) {
  
} // END 960px - 1439px

//  __      ___       ___    _______  _______                _    
// /  \    /   )     /   )  (  __   )(  ____ )|\     /|     ( )   
// \/) )  / /) |    / /) |  | (  )  || (    )|( \   / )     | |   
//   | | / (_) (_  / (_) (_ | | /   || (____)| \ (_) /    __| |__ 
//   | |(____   _)(____   _)| (/ /) ||  _____)  ) _ (    (__   __)
//   | |     ) (       ) (  |   / | || (       / ( ) \      | |   
// __) (_    | |       | |  |  (__) || )      ( /   \ )     | |   
// \____/    (_)       (_)  (_______)|/       |/     \|     (_)   
                                                               
@media screen and (min-width: 1440px) {
  
} // END 1440px +

//Nav styles from before I implemented the better css practices, didn't rewrite because I'm lazy and I have a deadline to meet
@media screen and (max-width: 768px) {
  .nav {display: block;background-color: $secondary;padding: 15px 0;}
  .nav ul {transition: 0.5s;overflow: hidden;height: 0px;}
    .nav ul li {display: block;}
    .nav ul li a {color: $nav-text-dark;}
    .nav ul li a:hover {color: $nav-text-dark-active;font-weight: 400;}
    .nav ul li a.active {color: $nav-text-dark-active;font-weight: 700;}
  .mobile-menu-open {display: inline-block;}
  .nav-background {display: block;}
}